__pycache__/
*.py[cod]
*$py.class

.python-version
.venv/


.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.DS_Store
Thumbs.db

.idea/
.vscode/

*.log
*.tmp
*.swp
*.swo

data/raw/
data/raw/**

*.ipynb
*.h5
